exercises2/web/WEB-INF/wsdl/localhost_8080/exercises2/Exercise45_02.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices.chapter45.exercises.bohush.net/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices.chapter45.exercises.bohush.net/">

<xs:element name="findScore" type="tns:findScore"/>

<xs:element name="findScoreResponse" type="tns:findScoreResponse"/>

<xs:element name="getPermission" type="tns:getPermission"/>

<xs:element name="getPermissionResponse" type="tns:getPermissionResponse"/>

<xs:complexType name="findScore">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findScoreResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPermission">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPermissionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>