exercises2/src/conf/xml-resources/web-service-references/Exercise45_03/wsdl/localhost_8080/exercises2/Exercise45_03.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.chapter45.exercises.bohush.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.chapter45.exercises.bohush.net/" name="Exercise45_03">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.chapter45.exercises.bohush.net/" schemaLocation="http://localhost:8080/exercises2/Exercise45_03?xsd=1"/>
</xsd:schema>
</types>
<message name="getNumberOfYears">
<part name="parameters" element="tns:getNumberOfYears"/>
</message>
<message name="getNumberOfYearsResponse">
<part name="parameters" element="tns:getNumberOfYearsResponse"/>
</message>
<message name="setNumberOfYears">
<part name="parameters" element="tns:setNumberOfYears"/>
</message>
<message name="setNumberOfYearsResponse">
<part name="parameters" element="tns:setNumberOfYearsResponse"/>
</message>
<message name="getLoanAmount">
<part name="parameters" element="tns:getLoanAmount"/>
</message>
<message name="getLoanAmountResponse">
<part name="parameters" element="tns:getLoanAmountResponse"/>
</message>
<message name="setLoanAmount">
<part name="parameters" element="tns:setLoanAmount"/>
</message>
<message name="setLoanAmountResponse">
<part name="parameters" element="tns:setLoanAmountResponse"/>
</message>
<message name="getMonthlyPayment">
<part name="parameters" element="tns:getMonthlyPayment"/>
</message>
<message name="getMonthlyPaymentResponse">
<part name="parameters" element="tns:getMonthlyPaymentResponse"/>
</message>
<message name="getTotalPayment">
<part name="parameters" element="tns:getTotalPayment"/>
</message>
<message name="getTotalPaymentResponse">
<part name="parameters" element="tns:getTotalPaymentResponse"/>
</message>
<message name="getLoanDate">
<part name="parameters" element="tns:getLoanDate"/>
</message>
<message name="getLoanDateResponse">
<part name="parameters" element="tns:getLoanDateResponse"/>
</message>
<message name="getAnnualInterestRate">
<part name="parameters" element="tns:getAnnualInterestRate"/>
</message>
<message name="getAnnualInterestRateResponse">
<part name="parameters" element="tns:getAnnualInterestRateResponse"/>
</message>
<message name="setAnnualInterestRate">
<part name="parameters" element="tns:setAnnualInterestRate"/>
</message>
<message name="setAnnualInterestRateResponse">
<part name="parameters" element="tns:setAnnualInterestRateResponse"/>
</message>
<message name="toString">
<part name="parameters" element="tns:toString"/>
</message>
<message name="toStringResponse">
<part name="parameters" element="tns:toStringResponse"/>
</message>
<portType name="Exercise03">
<operation name="getNumberOfYears">
<input wsam:Action="http://webservices.chapter45.exercises.bohush.net/Exercise03/getNumberOfYearsRequest" message="tns:getNumberOfYears"/>
<output wsam:Action="http://webservices.chapter45.exercises.bohush.net/Exercise03/getNumberOfYearsResponse" message="tns:getNumberOfYearsResponse"/>
</operation>
<operation name="setNumberOfYears">
<input wsam:Action="http://webservices.chapter45.exercises.bohush.net/Exercise03/setNumberOfYearsRequest" message="tns:setNumberOfYears"/>
<output wsam:Action="http://webservices.chapter45.exercises.bohush.net/Exercise03/setNumberOfYearsResponse" message="tns:setNumberOfYearsResponse"/>
</operation>
<operation name="getLoanAmount">
<input wsam:Action="http://webservices.chapter45.exercises.bohush.net/Exercise03/getLoanAmountRequest" message="tns:getLoanAmount"/>
<output wsam:Action="http://webservices.chapter45.exercises.bohush.net/Exercise03/getLoanAmountResponse" message="tns:getLoanAmountResponse"/>
</operation>
<operation name="setLoanAmount">
<input wsam:Action="http://webservices.chapter45.exercises.bohush.net/Exercise03/setLoanAmountRequest" message="tns:setLoanAmount"/>
<output wsam:Action="http://webservices.chapter45.exercises.bohush.net/Exercise03/setLoanAmountResponse" message="tns:setLoanAmountResponse"/>
</operation>
<operation name="getMonthlyPayment">
<input wsam:Action="http://webservices.chapter45.exercises.bohush.net/Exercise03/getMonthlyPaymentRequest" message="tns:getMonthlyPayment"/>
<output wsam:Action="http://webservices.chapter45.exercises.bohush.net/Exercise03/getMonthlyPaymentResponse" message="tns:getMonthlyPaymentResponse"/>
</operation>
<operation name="getTotalPayment">
<input wsam:Action="http://webservices.chapter45.exercises.bohush.net/Exercise03/getTotalPaymentRequest" message="tns:getTotalPayment"/>
<output wsam:Action="http://webservices.chapter45.exercises.bohush.net/Exercise03/getTotalPaymentResponse" message="tns:getTotalPaymentResponse"/>
</operation>
<operation name="getLoanDate">
<input wsam:Action="http://webservices.chapter45.exercises.bohush.net/Exercise03/getLoanDateRequest" message="tns:getLoanDate"/>
<output wsam:Action="http://webservices.chapter45.exercises.bohush.net/Exercise03/getLoanDateResponse" message="tns:getLoanDateResponse"/>
</operation>
<operation name="getAnnualInterestRate">
<input wsam:Action="http://webservices.chapter45.exercises.bohush.net/Exercise03/getAnnualInterestRateRequest" message="tns:getAnnualInterestRate"/>
<output wsam:Action="http://webservices.chapter45.exercises.bohush.net/Exercise03/getAnnualInterestRateResponse" message="tns:getAnnualInterestRateResponse"/>
</operation>
<operation name="setAnnualInterestRate">
<input wsam:Action="http://webservices.chapter45.exercises.bohush.net/Exercise03/setAnnualInterestRateRequest" message="tns:setAnnualInterestRate"/>
<output wsam:Action="http://webservices.chapter45.exercises.bohush.net/Exercise03/setAnnualInterestRateResponse" message="tns:setAnnualInterestRateResponse"/>
</operation>
<operation name="toString">
<input wsam:Action="http://webservices.chapter45.exercises.bohush.net/Exercise03/toStringRequest" message="tns:toString"/>
<output wsam:Action="http://webservices.chapter45.exercises.bohush.net/Exercise03/toStringResponse" message="tns:toStringResponse"/>
</operation>
</portType>
<binding name="Exercise03PortBinding" type="tns:Exercise03">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getNumberOfYears">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setNumberOfYears">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLoanAmount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setLoanAmount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMonthlyPayment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalPayment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLoanDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnnualInterestRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setAnnualInterestRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="toString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Exercise45_03">
<port name="Exercise03Port" binding="tns:Exercise03PortBinding">
<soap:address location="http://localhost:8080/exercises2/Exercise45_03"/>
</port>
</service>
</definitions>